{{!< layout}}

{{#contentFor 'pageStyles'}}
  <style>
    body {
      font-family: sans-serif;
      font-size: small;
      padding: 10px;
      line-height: 1.4em;
    }
  </style>
{{/contentFor}}

<!--
  The dialog has a primary action, declared in the descriptor
  atlassian-connect.json. It is implemented in the js/addon.js file imported
  in the layout.
-->

{{#if bracketData.state.unavailable}}
  {{!-- Bracket is either not ready yet or there is an error. --}}
  <div>The bracket is not available at this time.<div>
{{else}}
  <a href="" target="_blank">Open in New Tab</a>
  {{#if bracketData.state.set}}
    <input id="bb-set" hidden/>
  {{/if}}
  <input id="bb-empty-bracket" value="{{bracketData.empty_bracket}}" hidden />
  {{#with bracketData.regions.national.Champion.prediction.team1}}
    <input id="bb-champion-pick" value="{{~seed~}}|{{~name~}}" hidden />
  {{/with}}
  <div id="bb-options">
    <input type="radio" name="bb-option" value="picks_op" checked /> My Picks
    <input type="radio" name="bb-option" value="scores_op" /> Results
  </div>
  <table style="width: 100%; margin-left: auto; margin-right: auto;">
    <tr>
      {{#with bracketData.regions.region1}}
        <td style="width: 50%;">
          <table align="left">
            <tr class="half-bracket">
              <td class="region"> <!-- {{name}} -->
                <ul class="round" style="margin-top: 10px;">
                  <li class="spacer">&nbsp;</li>

                  {{#each [1st Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{prediction.team1.seed}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~prediction.team1.name~}}
                      </span>

                      <span class="bb-score">{{{result.team1.score}}}</span>
                      <input type="radio" name="round1-{{add @index 0}}"
                        class="bb-team-pick" value="{{result.team1.name}}" />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{{result.team2.seed}}}</span>
                      <span class="bb-seed">{{{prediction.team2.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team2.name}~}}
                      </span>

                      <span class="bb-score">{{{result.team2.score}}}</span>
                      <input type="radio" name="round1-{{add @index 0}}"
                        class="bb-team-pick" value="{{{result.team2.name}}}" />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [2nd Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{{result.team1.seed}}}</span>
                      <span class="bb-seed">{{{prediction.team1.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~{result.team1.name}~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team1.name}~}}
                      </span>

                      <span class="bb-score">{{{result.team1.score}}}</span>
                      <input type="radio" name="round2-{{add @index 0}}"
                        class="bb-team-pick" value="{{{prediction.team1.name}}}"
                        hidden />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{{prediction.team2.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team2.name}~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round2-{{add @index 0}}"
                        class="bb-team-pick" value="{{{prediction.team2.name}}}"
                        hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Sweet 16]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{{prediction.team1.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team1.name}~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round3-{{add @index 0}}"
                        class="bb-team-pick" value="{{{prediction.team1.name}}}"
                        hidden />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{{prediction.team2.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team2.name}~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round3-{{add @index 0}}"
                        class="bb-team-pick" value="{{{prediction.team2.name}}}"
                        hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Elite 8]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{{prediction.team1.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team1.name}~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round4-{{add @index 0}}"
                        class="bb-team-pick" value="{{{prediction.team1.name}}}"
                        hidden />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{{prediction.team2.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team2.name}~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round4-{{add @index 0}}"
                        class="bb-team-pick" value="{{{prediction.team2.name}}}"
                        hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          </table>
        </td>
      {{/with}}

      {{#with bracketData.regions.region2}}
        <td style="width: 50%;">
          <table align="right">
            <tr class="half-bracket">
              <td class="region"> <!-- {{name}} -->
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Elite 8]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{{prediction.team1.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team1.name}~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round4-{{add @index 2}}"
                        class="bb-team-pick" value="{{{prediction.team1.name}}}"
                        hidden />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{{prediction.team2.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team2.name}~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round4-{{add @index 2}}"
                        class="bb-team-pick" value="{{{prediction.team2.name}}}"
                        hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Sweet 16]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{{prediction.team1.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team1.name}~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round3-{{add @index 4}}"
                        class="bb-team-pick" value="{{{prediction.team1.name}}}"
                        hidden />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{{prediction.team2.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team2.name}~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round3-{{add @index 4}}"
                        class="bb-team-pick" value="{{{prediction.team2.name}}}"
                        hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [2nd Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{{prediction.team1.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team1.name}~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round2-{{add @index 8}}"
                        class="bb-team-pick" value="{{{prediction.team1.name}}}"
                        hidden />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{{prediction.team2.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team2.name}~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round2-{{add @index 8}}"
                        class="bb-team-pick" value="{{{prediction.team2.name}}}"
                        hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
                
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [1st Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{prediction.team1.seed}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~prediction.team1.name~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round1-{{add @index 16}}"
                        class="bb-team-pick" value="{{result.team1.name}}" />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{prediction.team2.seed}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~prediction.team2.name~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round1-{{add @index 16}}"
                        class="bb-team-pick" value="{{result.team2.name}}" />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          </table>
        </td>
      {{/with}}
    </tr>
  </table>

  {{#with bracketData.regions.national}}
    <table style="width: 100%; margin-left: auto; margin-right: auto;">
      <tr>
        <td style="width: 33%;">
          <table align="right">
            <tr>
              <td class="region">
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top">
                    <span class="bb-seed-real">
                      {{~[Final Four].result.team1.seed~}}
                    </span>
                    <span class="bb-seed">
                      {{~{[Final Four].prediction.team1.seed}~}}
                    </span>

                    <span class="bb-team-name-real">
                      {{~[Final Four].result.team1.name~}}
                    </span>
                    <span class="bb-team-name">
                      {{~{[Final Four].prediction.team1.name}~}}
                    </span>

                    <span class="bb-score">
                      {{~[Final Four].result.team1.score~}}
                    </span>
                    <input type="radio" name="round5-00"
                      class="bb-team-pick"
                      value="{{{[Final Four].prediction.team1.name}}}"
                      hidden />
                  </li>
                  <li class="game game-spacer-left">&nbsp;</li>
                  <li class="game game-bottom">
                    <span class="bb-seed-real">
                      {{~[Final Four].result.team2.seed~}}
                    </span>
                    <span class="bb-seed">
                      {{~{[Final Four].prediction.team2.seed}~}}
                    </span>

                    <span class="bb-team-name-real">
                      {{~[Final Four].result.team2.name~}}
                    </span>
                    <span class="bb-team-name">
                      {{~{[Final Four].prediction.team2.name}~}}
                    </span>

                    <span class="bb-score">
                      {{~[Final Four].result.team2.score~}}
                    </span>
                    <input type="radio" name="round5-00"
                      class="bb-team-pick"
                      value="{{{[Final Four].prediction.team2.name}}}"
                      hidden />
                  </li>

                  <li class="spacer">&nbsp;</li>
                </ul>
              </td>
            </tr>
          </table>
        </td>

        <td style="width: 33%;">
          <table align="center">
            <tr>
              <td class="region"> <!-- Championship -->
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top">
                    <span class="bb-seed-real">
                      {{~Championship.result.team1.seed~}}
                    </span>
                    <span class="bb-seed">
                      {{~{Championship.prediction.team1.seed}~}}
                    </span>

                    <span class="bb-team-name-real">
                      {{~Championship.result.team1.name~}}
                    </span>
                    <span class="bb-team-name">
                      {{~{Championship.prediction.team1.name}~}}
                    </span>

                    <span class="bb-score">
                      {{Championship.result.team1.score}}
                    </span>
                    <input type="radio" name="round6-00"
                      class="bb-team-pick"
                      value="{{{Championship.prediction.team1.name}}}"
                      hidden />
                  </li>
                  <li class="game game-spacer-mid">&nbsp;</li>
                  <li class="game game-bottom">
                    <span class="bb-seed-real">
                      {{~Championship.result.team2.seed~}}
                    </span>
                    <span class="bb-seed">
                      {{~{Championship.prediction.team2.seed}~}}
                    </span>

                    <span class="bb-team-name-real">
                      {{~Championship.result.team2.name~}}
                    </span>
                    <span class="bb-team-name">
                      {{~{Championship.prediction.team2.name}~}}
                    </span>

                    <span class="bb-score">
                      {{~Championship.result.team2.score~}}
                    </span>
                    <input type="radio" name="round6-00"
                      class="bb-team-pick"
                      value="{{{Championship.prediction.team2.name}}}"
                      hidden />
                  </li>

                  <li class="spacer">&nbsp;</li>
                </ul>
              </td>
            </tr>
          </table>
        </td>

        <td style="width: 33%;">
          <table align="left">
            <tr>
              <td class="region">
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top">
                    <span class="bb-seed-real">
                      {{~[Final Four].result.team3.seed~}}
                    </span>
                    <span class="bb-seed">
                      {{~{[Final Four].prediction.team3.seed}~}}
                    </span>

                    <span class="bb-team-name-real">
                      {{~[Final Four].result.team3.name~}}
                    </span>
                    <span class="bb-team-name">
                      {{~{[Final Four].prediction.team3.name}~}}
                    </span>

                    <span class="bb-score">
                      {{~[Final Four].result.team3.score~}}
                    </span>
                    <input type="radio" name="round5-01"
                      class="bb-team-pick"
                      value="{{{[Final Four].prediction.team3.name}}}"
                      hidden />
                  </li>
                  <li class="game game-spacer-right">&nbsp;</li>
                  <li class="game game-bottom">
                    <span class="bb-seed-real">
                      {{~[Final Four].result.team4.seed~}}
                    </span>
                    <span class="bb-seed">
                      {{~{[Final Four].prediction.team4.seed}~}}
                    </span>

                    <span class="bb-team-name-real">
                      {{~[Final Four].result.team4.name~}}
                    </span>
                    <span class="bb-team-name">
                      {{~{[Final Four].prediction.team4.name}~}}
                    </span>

                    <span class="bb-score">
                      {{~[Final Four].result.team4.score~}}
                    </span>
                    <input type="radio" name="round5-01"
                      class="bb-team-pick"
                      value="{{{[Final Four].prediction.team4.name}}}"
                      hidden />
                  </li>

                  <li class="spacer">&nbsp;</li>
                </ul>
              </td>
            </tr>
          </table>
        </td>
    </table>
  {{/with}}

  <table style="width: 100%; margin-left: auto; margin-right: auto;">
    <tr>
      {{#with bracketData.regions.region3}}
        <td style="width: 50%;">
          <table align="left">
            <tr class="half-bracket">
              <td class="region"> <!-- {{name}} -->
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [1st Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{prediction.team1.seed}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~prediction.team1.name~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round1-{{add @index 8}}"
                        class="bb-team-pick" value="{{result.team1.name}}" />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{prediction.team2.seed}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~prediction.team2.name~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round1-{{add @index 8}}"
                        class="bb-team-pick" value="{{result.team2.name}}" />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [2nd Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{{prediction.team1.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team1.name}~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round2-{{add @index 4}}"
                        class="bb-team-pick"
                        value="{{{prediction.team1.name}}}"
                        hidden />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{{prediction.team2.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team2.name}~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round2-{{add @index 4}}"
                        class="bb-team-pick"
                        value="{{{prediction.team2.name}}}"
                        hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Sweet 16]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{{prediction.team1.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team1.name}~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round3-{{add @index 2}}"
                        class="bb-team-pick"
                        value="{{{prediction.team1.name}}}"
                        hidden />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{{prediction.team2.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team2.name}~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round3-{{add @index 2}}"
                        class="bb-team-pick"
                        value="{{{prediction.team2.name}}}"
                        hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
                
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Elite 8]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{{prediction.team1.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team1.name}~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round4-{{add @index 1}}"
                        class="bb-team-pick"
                        value="{{{prediction.team1.name}}}"
                        hidden />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{{prediction.team2.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team2.name}~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round4-{{add @index 1}}"
                        class="bb-team-pick"
                        value="{{{prediction.team2.name}}}"
                        hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          </table>
        </td>
      {{/with}}

      {{#with bracketData.regions.region4}}
        <td style="width: 50%;">
          <table align="right">
            <tr class="half-bracket">
              <td class="region"> <!-- {{name}} -->
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Elite 8]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{{prediction.team1.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team1.name}~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round4-{{add @index 3}}"
                        class="bb-team-pick"
                        value="{{{prediction.team1.name}}}"
                        hidden />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real>{{result.team2.seed}}</span>
                      <span class="bb-seed">{{{prediction.team2.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team2.name}~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round4-{{add @index 3}}"
                        class="bb-team-pick"
                        value="{{{prediction.team2.name}}}"
                        hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Sweet 16]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{{prediction.team1.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team1.name}~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round3-{{add @index 6}}"
                        class="bb-team-pick"
                        value="{{{prediction.team1.name}}}"
                        hidden />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{{prediction.team2.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team2.name}~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round3-{{add @index 6}}"
                        class="bb-team-pick"
                        value="{{{prediction.team2.name}}}"
                        hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [2nd Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{{prediction.team1.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team1.name}~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round2-{{add @index 12}}"
                        class="bb-team-pick"
                        value="{{{prediction.team1.name}}}"
                        hidden />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{{prediction.team2.seed}}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~{prediction.team2.name}~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round2-{{add @index 12}}"
                        class="bb-team-pick"
                        value="{{{prediction.team2.name}}}"
                        hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
                
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [1st Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{result.team1.seed}}</span>
                      <span class="bb-seed">{{prediction.team1.seed}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team1.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~prediction.team1.name~}}
                      </span>

                      <span class="bb-score">{{result.team1.score}}</span>
                      <input type="radio" name="round1-{{add @index 24}}"
                        class="bb-team-pick" value="{{result.team1.name}}" />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{result.team2.seed}}</span>
                      <span class="bb-seed">{{prediction.team2.seed}}</span>

                      <span class="bb-team-name-real">
                        {{~result.team2.name~}}
                      </span>
                      <span class="bb-team-name">
                        {{~prediction.team2.name~}}
                      </span>

                      <span class="bb-score">{{result.team2.score}}</span>
                      <input type="radio" name="round1-{{add @index 24}}"
                        class="bb-team-pick" value="{{result.team2.name}}" />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          </table>
        </td>
      {{/with}}
    </tr>
  </table>
{{/if}}
