{{!< layout}}

{{#contentFor 'pageStyles'}}
  <style>
    body {
      font-family: sans-serif;
      font-size: small;
      padding: 10px;
      line-height: 1.4em;
    }
  </style>
{{/contentFor}}

{{#contentFor 'pageScripts'}}
  <script src="/js/bracket-pick.js"></script>
{{/contentFor}}

<!--
  The dialog has a primary action, declared in the descriptor
  atlassian-connect.json
-->
<!-- It is implemented in the js/addon.js file imported in the layout -->

{{#if bracketData.state.unavailable}}
  {{!-- Bracket is either not ready yet or there is an error. --}}
  <div>The bracket is not available at this time.<div>
{{else}}
  <a href="" target="_blank">Open in New Tab</a>
  {{#if bracketData.state.set}}
    <input id="bb-set" hidden/>
  {{/if}}
  <div style="position: fixed; width: 100%; text-align: center; background-color: #edf0f4;">
    <input type="radio" name="bb-option" value="picks_op" checked /> My Picks
    <input type="radio" name="bb-option" value="scores_op" /> Results
  </div>
  <table style="width: 100%; margin-left: auto; margin-right: auto;">
    <tr>
      {{#with bracketData.regions.region1}}
        <td style="width: 50%;">
          <table align="left">
            <tr class="half-bracket">
              <td class="region"> <!-- {{name}} -->
                <ul class="round" style="margin-top: 10px;">
                  <li class="spacer">&nbsp;</li>

                  {{#each [1st Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">{{team1.seed}}</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">{{team1.name}}</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round1-{{add @index 0}}"
                        class="bb-team-pick" value="{{team1.name}}" />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">{{team2.seed}}</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">{{team2.name}}</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round1-{{add @index 0}}"
                        class="bb-team-pick" value="{{team2.name}}" />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [2nd Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round2-{{add @index 0}}"
                        class="bb-team-pick" hidden />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round2-{{add @index 0}}"
                        class="bb-team-pick" hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Sweet 16]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round3-{{add @index 0}}"
                        class="bb-team-pick" hidden />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round3-{{add @index 0}}"
                        class="bb-team-pick" hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Elite 8]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round4-{{add @index 0}}"
                        class="bb-team-pick" hidden />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round4-{{add @index 0}}"
                        class="bb-team-pick" hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          </table>
        </td>
      {{/with}}

      {{#with bracketData.regions.region2}}
        <td style="width: 50%;">
          <table align="right">
            <tr class="half-bracket">
              <td class="region"> <!-- {{name}} -->
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Elite 8]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round4-{{add @index 2}}"
                        class="bb-team-pick" hidden />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round4-{{add @index 2}}"
                        class="bb-team-pick" hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Sweet 16]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round3-{{add @index 4}}"
                        class="bb-team-pick" hidden />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round3-{{add @index 4}}"
                        class="bb-team-pick" hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [2nd Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round2-{{add @index 8}}"
                        class="bb-team-pick" hidden />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round2-{{add @index 8}}"
                        class="bb-team-pick" hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
                
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [1st Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">{{team1.seed}}</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">{{team1.name}}</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round1-{{add @index 16}}"
                        class="bb-team-pick" value="{{team1.name}}" />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">{{team2.seed}}</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">{{team2.name}}</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round1-{{add @index 16}}"
                        class="bb-team-pick" value="{{team2.name}}" />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          </table>
        </td>
      {{/with}}
    </tr>
  </table>

  {{#with bracketData.regions.national}}
    <table style="width: 100%; margin-left: auto; margin-right: auto;">
      <tr>
        <td style="width: 33%;">
          <table align="right">
            <tr>
              <td class="region">
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top">
                    <span class="bb-seed-real">
                      {{[Final Four].team1.seed}}
                    </span>
                    <span class="bb-seed">&nbsp;</span>

                    <span class="bb-team-name-real">
                      {{[Final Four].team1.name}}
                    </span>
                    <span class="bb-team-name">&nbsp;</span>

                    <span class="bb-score">
                      {{[Final Four].team1.score}}
                    </span>
                    <input type="radio" name="round5-00"
                      class="bb-team-pick" hidden />
                  </li>
                  <li class="game game-spacer-left">&nbsp;</li>
                  <li class="game game-bottom">
                    <span class="bb-seed-real">
                      {{[Final Four].team2.seed}}
                    </span>
                    <span class="bb-seed">&nbsp;</span>

                    <span class="bb-team-name-real">
                      {{[Final Four].team2.name}}
                    </span>
                    <span class="bb-team-name">&nbsp;</span>

                    <span class="bb-score">
                      {{[Final Four].team2.score}}
                    </span>
                    <input type="radio" name="round5-00"
                      class="bb-team-pick" hidden />
                  </li>

                  <li class="spacer">&nbsp;</li>
                </ul>
              </td>
            </tr>
          </table>
        </td>

        <td style="width: 33%;">
          <table align="center">
            <tr>
              <td class="region"> <!-- Championship -->
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top">
                    <span class="bb-seed-real">
                      {{Championship.team1.seed}}
                    </span>
                    <span class="bb-seed">&nbsp;</span>

                    <span class="bb-team-name-real">
                      {{Championship.team1.name}}
                    </span>
                    <span class="bb-team-name">&nbsp;</span>

                    <span class="bb-score">
                      {{Championship.team1.score}}
                    </span>
                    <input type="radio" name="round6-00"
                      class="bb-team-pick" hidden />
                  </li>
                  <li class="game game-spacer-mid">&nbsp;</li>
                  <li class="game game-bottom">
                    <span class="bb-seed-real">
                      {{Championship.team2.seed}}
                    </span>
                    <span class="bb-seed">&nbsp;</span>

                    <span class="bb-team-name-real">
                      {{Championship.team2.name}}
                    </span>
                    <span class="bb-team-name">&nbsp;</span>

                    <span class="bb-score">
                      {{Championship.team2.score}}
                    </span>
                    <input type="radio" name="round6-00"
                      class="bb-team-pick" hidden />
                  </li>

                  <li class="spacer">&nbsp;</li>
                </ul>
              </td>
            </tr>
          </table>
        </td>

        <td style="width: 33%;">
          <table align="left">
            <tr>
              <td class="region">
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top">
                    <span class="bb-seed-real">
                      {{[Final Four].team3.seed}}
                    </span>
                    <span class="bb-seed">&nbsp;</span>

                    <span class="bb-team-name-real">
                      {{[Final Four].team3.name}}
                    </span>
                    <span class="bb-team-name">&nbsp;</span>

                    <span class="bb-score">
                      {{[Final Four].team3.score}}
                    </span>
                    <input type="radio" name="round5-01"
                      class="bb-team-pick" hidden />
                  </li>
                  <li class="game game-spacer-right">&nbsp;</li>
                  <li class="game game-bottom">
                    <span class="bb-seed-real">
                      {{[Final Four].team4.seed}}
                    </span>
                    <span class="bb-seed">&nbsp;</span>

                    <span class="bb-team-name-real">
                      {{[Final Four].team4.name}}
                    </span>
                    <span class="bb-team-name">&nbsp;</span>

                    <span class="bb-score">
                      {{[Final Four].team4.score}}
                    </span>
                    <input type="radio" name="round5-01"
                      class="bb-team-pick" hidden />
                  </li>

                  <li class="spacer">&nbsp;</li>
                </ul>
              </td>
            </tr>
          </table>
        </td>
    </table>
  {{/with}}

  <table style="width: 100%; margin-left: auto; margin-right: auto;">
    <tr>
      {{#with bracketData.regions.region3}}
        <td style="width: 50%;">
          <table align="left">
            <tr class="half-bracket">
              <td class="region"> <!-- {{name}} -->
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [1st Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">{{team1.seed}}</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">{{team1.name}}</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round1-{{add @index 8}}"
                        class="bb-team-pick" value="{{team1.name}}" />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">{{team2.seed}}</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">{{team2.name}}</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round1-{{add @index 8}}"
                        class="bb-team-pick" value="{{team2.name}}" />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [2nd Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round2-{{add @index 4}}"
                        class="bb-team-pick" hidden />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round2-{{add @index 4}}"
                        class="bb-team-pick" hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Sweet 16]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round3-{{add @index 2}}"
                        class="bb-team-pick" hidden />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round3-{{add @index 2}}"
                        class="bb-team-pick" hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
                
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Elite 8]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round4-{{add @index 1}}"
                        class="bb-team-pick" hidden />
                    </li>
                    <li class="game game-spacer-left">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round4-{{add @index 1}}"
                        class="bb-team-pick" hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          </table>
        </td>
      {{/with}}

      {{#with bracketData.regions.region4}}
        <td style="width: 50%;">
          <table align="right">
            <tr class="half-bracket">
              <td class="region"> <!-- {{name}} -->
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Elite 8]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round4-{{add @index 3}}"
                        class="bb-team-pick" hidden />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real>{{team2.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round4-{{add @index 3}}"
                        class="bb-team-pick" hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [Sweet 16]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round3-{{add @index 6}}"
                        class="bb-team-pick" hidden />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round3-{{add @index 6}}"
                        class="bb-team-pick" hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>

                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [2nd Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round2-{{add @index 12}}"
                        class="bb-team-pick" hidden />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">&nbsp;</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">&nbsp;</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round2-{{add @index 12}}"
                        class="bb-team-pick" hidden />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
                
                <ul class="round">
                  <li class="spacer">&nbsp;</li>

                  {{#each [1st Round]}}
                    <li class="game game-top">
                      <span class="bb-seed-real">{{team1.seed}}</span>
                      <span class="bb-seed">{{team1.seed}}</span>

                      <span class="bb-team-name-real">{{team1.name}}</span>
                      <span class="bb-team-name">{{team1.name}}</span>

                      <span class="bb-score">{{team1.score}}</span>
                      <input type="radio" name="round1-{{add @index 24}}"
                        class="bb-team-pick" value="{{team1.name}}" />
                    </li>
                    <li class="game game-spacer-right">&nbsp;</li>
                    <li class="game game-bottom">
                      <span class="bb-seed-real">{{team2.seed}}</span>
                      <span class="bb-seed">{{team2.seed}}</span>

                      <span class="bb-team-name-real">{{team2.name}}</span>
                      <span class="bb-team-name">{{team2.name}}</span>

                      <span class="bb-score">{{team2.score}}</span>
                      <input type="radio" name="round1-{{add @index 24}}"
                        class="bb-team-pick" value="{{team2.name}}" />
                    </li>

                    <li class="spacer">&nbsp;</li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          </table>
        </td>
      {{/with}}
    </tr>
  </table>
{{/if}}
