<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{name}}</title>
    <link rel="shortcut icon" type="image/png" href="/img/bracket.png">
    <link rel="stylesheet"
      href="//aui-cdn.atlassian.com/aui-adg/5.9.6/css/aui.min.css" media="all">
    <link rel="stylesheet" href="{{furl '/css/homepage.css'}}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.6/js/aui.min.js"></script>
  </head>

  <body id="aui-flatpack" class="aui-page-fixed">
    <section id="content" role="main">
      <header class="aui-page-header">
        <div class="aui-page-header-inner">
          <div class="aui-page-header-main intro-header">
            <div class="aui-group">
              <div class="aui-item addon-logo">
                <img src="/img/bracket.png" alt="{{name}}">

                <div>
                  <!-- Remove style and 'disabled' to enable again. -->
                  <a href="https://www.hipchat.com/addons/install?url={{links.self}}"
                    class="aui-button aui-button-primary"
                    title="Install this add-on in HipChat">
                    <!--style="pointer-events: none"-->
                    <span class="aui-icon aui-icon-small aui-iconfont-hipchat">
                    </span>
                    Add to HipChat
                  </a>
                </div>
              </div>
              <div class="aui-item">
                <h1>
                  {{name}}
                  <small class="vendor">By <a
                    href="{{vendor.url}}">{{vendor.name}}</a></small>
                </h1>
                <p class="subtitle">
                  {{description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="aui-page-panel addon-intro-page">
        <div class="aui-page-panel-inner">
          <section class="aui-page-panel-item">
            <div class="aui-group">
              <div class="aui-item">
                <p>
                  <strong class="aui-nav-heading">
                    March Madness Season:
                  </strong>
                  <span class="aui-lozenge aui-lozenge-error">OFF</span>
                </p>
                <p class="aui-message warning">
                  This add-on is currently in development, but feel free to
                  install it and check it out! Not all features are currently
                  functional.
                </p>

                <p>
                  This HipChat add-on allows users in a HipChat room to fill
                  out their own March Madness brackets and see how well their
                  predictions match up with those of their colleagues as the
                  games are played during the tournament. <i>Bracket Buster</i>
                  is perfect for workplace teams that already use HipChat to
                  have a little fun and see how their brackets hold up (or get
                  busted).
                </p>
                <p>
                  This bot aims to make it more convenient and flexible than
                  other websites (e.g. ESPN, CBS Sports) to fill out a March
                  Madness bracket and share it with colleagues.
                </p>

                <br />
                <hr />

                <h3>View Bracket</h3>
                <p>
                  Users can view the current bracket by clicking the input
                  action in the input field at the bottom of the page:
                </p>
                <br />
                <div style="text-align: center;">
                  <img src="/img/view_bracket.gif" alt="View Bracket" />
                </div>
                <p>
                  A dialog box containing the bracket will appear. Scroll down
                  to see the teams in each region of the bracket.
                </p>

                <h3>View Results</h3>
                <p>
                  In the same dialog window, users can view the games that have
                  been completed by clicking the <i>Results</i> button fixed to
                  the top of the dialog window:
                </p>
                <br />
                <div style="text-align: center;">
                  <img src="/img/view_results.gif" alt="View Results" />
                </div>
                <p>
                  By using those two buttons at the top of the dialog window,
                  the user's picks can easily be compared with the results.
                </p>

                <h3>Fill Out Bracket</h3>
                <p>
                  HipChat users can easily make their picks by clicking on the
                  radio buttons to indicate their predicted winners of each
                  game:
                </p>
                <br />
                <div style="text-align: center;">
                  <img src="/img/choose_picks.gif" alt="Choose Picks" />
                </div>
                
                <p>
                  If the user wants to take back his/her pick, the selected
                  radio button in a given round can be clicked on, and the team
                  corresponding to that button will be erased if they appear as
                  the winner of games in the subsequent rounds:
                </p>
                <br />
                <div style="text-align: center;">
                  <img src="/img/undo_pick.gif" alt="Undo Pick" />
                </div>

                <p>
                  Moreover, a change can be made for the winner of a given
                  game, and the team that was previously selected to win will
                  be erased if they appear as the winner of subsequent games:
                </p>
                <br />
                <div style="text-align: center;">
                  <img src="/img/change_pick.gif" alt="Change Pick" />
                </div>

                <p>
                  If the user needs more time to think about his/her picks, the
                  bracket can be saved by clicking on <i>Save Bracket</i> in
                  the lower-right of the dialog window:
                </p>
                <br />
                <div style="text-align: center;">
                  <img src="/img/save_bracket.gif" alt="Save Bracket" />
                </div>
                <p>
                  The state of the bracket will be retained when the user
                  wishes to view his/her bracket again.Once the tournament
                  games start, users will no longer be able to make changes to
                  their brackets. The bracket that was last saved will be the
                  one that is submitted.
                </p>
              </div>
            </div>
          </section>
        </div>
        <footer id="footer" role="contentinfo">
          <section class="footer-body">
            <ul id="aui-footer-list">
              <li>
                <a href="https://hipchat.com">
                  HipChat
                </a>
              </li>
              <li>
                <a href="https://developer.atlassian.com/hipchat">
                  Developers
                </a>
              </li>
              <li>Copyright © 2016 Atlassian</li>
            </ul>
            <div id="footer-logo">
              <a href="http://www.atlassian.com/">Atlassian</a>
            </div>
          </section>
        </footer>
      </div>
    </section>
  </body>
</html>
